.noti-contenedor {
  flex: 1;
  padding: 40px;
  background-color: #f5f6f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noti-tabla-contenedor {
  width: 90%;
  max-width: 900px;
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.noti-tabla {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.noti-tabla th,
.noti-tabla td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noti-tabla th {
  background-color: #003366;
  color: white;
}

.noti-tabla tr:hover {
  background-color: #f1f1f1;
}
