.btn-agregar {
  background-color: #2ed573;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: background 0.3s;
}

.btn-agregar:hover {
  background-color: #1dd1a1;
}

section {
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 10px;
  color: #2f3542;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #57606f;
  color: white;
}

th, td {
  padding: 14px 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}



td button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

td button:hover {
  opacity: 0.9;
}

td button:nth-child(1) {
  background-color: #ffa502;
  color: white;
}

td button:nth-child(1):hover {
  background-color: #e0a800;
}
